@use '../partials/colors';

.boxes {
  display: flex;
  justify-content: space-between;
  margin: 126px 265px;

  .box {
    background-color: white;
    border-radius: 4px;
    height: 240px;
    width: 370px;

    .box_text {
      margin: 112px 32px 32px;

      h4 {
        font-size: 1.125rem;
        line-height: 21.78px;
        margin-bottom: 16px;
      }

      p {
        font-size: 0.9rem;
        line-height: 17.43px;
        margin-bottom: 24px;
      }

      .link {
        color: colors.$flamingo-orange;
        font-size: 0.9rem;
        font-weight: 700;
        line-height: 17.43px;
        text-decoration: none;

        > svg {
          margin-left: 8px;

          > path {
            stroke: colors.$flamingo-orange;
          }
        }
      }
    }

    &._2K7z0eSoqHlvjT1f4zZAxf .photo {
      // the provided image for this one is pre-slanted, but the figma one is not
      // this leads to some size discrepancies between the images that need to be corrected
      height: 227px;
      right: -227px;
      top: -312px;
      width: 227px;
    }

    .photo {
      right: -198px;
      top: -317px;
    }
  }
}
