@use '../partials/colors';

.title {
  color: white;
  margin-left: 265px;
  margin-top: 26px;
  width: max-content;

  h5 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 21.78px;
    margin-bottom: 16px;
  }

  h1 {
    font-size: 3.5rem;
    line-height: 67.77px;
    margin-bottom: 24px;
    max-width: 470px;
  }

  p {
    font-size: 1.125rem;
    line-height: 21.78px;
    margin-bottom: 28px;
  }

  .title_links {
    a {
      border-radius: 3px;
      color: white;
      font-size: 0.9rem;
      line-height: 17.43px;
      padding: 12px 24px;
      text-decoration: none;

      &.start {
        background-color: colors.$clear-blue;
        margin-right: 21px;
      }

      &.demo {
        background-color: colors.$stone-gray;
      }

      > svg {
        margin-left: 8px;
      }
    }
  }
}
