@use '../partials/breakpoints';
@use '../partials/colors';

.title {
  color: white;
  max-width: 1170px;
  text-align: center;
  margin: 26px 16px;

  @media screen and (min-width: breakpoints.$small) {
    text-align: start;
    margin: 26px auto;
    padding: 0 36px;
    width: 100%;
  }

  h5 {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 16px;

    @media screen and (min-width: breakpoints.$small) {
      font-size: 1.125rem;
      line-height: 21.78px;
    }
  }

  h1 {
    font-size: 2.8rem;
    line-height: 55px;
    margin-bottom: 24px;

    @media screen and (min-width: breakpoints.$small) {
      font-size: 3.5rem;
      line-height: 67.77px;
      max-width: 470px;
    }
  }

  p {
    font-size: 1.125rem;
    line-height: 21.78px;
    margin-bottom: 28px;
  }

  .title_links {
    a {
      border-radius: 3px;
      color: white;
      font-size: 0.9rem;
      font-weight: 700;
      line-height: 17.43px;
      padding: 12px 24px;
      text-decoration: none;

      &.start {
        background-color: colors.$clear-blue;
        margin-right: 21px;
      }

      &.demo {
        background-color: colors.$stone-gray;
      }

      > svg {
        margin-left: 8px;
      }
    }
  }
}
